venv/
.venv*/
.vscode/
data/
build/
*.egg-info
.DS_Store
.cache/
.coverage*
*.so
*.c
*.html
!docs/overrides/*.html
*.pyc
__pycache__/
dist/
README.rst
.pytest_cache/
Pipfile.lock
cov_html/
coverage.xml
pip-wheel-metadata/
site/
.mypy_cache/
.ruff_cache/
.uv/
