site_name: plotille
site_url: https://plotille.tammo.io
site_description: Plot in the terminal using braille dots
site_author: Tammo Ippen
repo_url: https://github.com/tammoippen/plotille
repo_name: tammoippen/plotille

theme:
  name: material
  custom_dir: docs/overrides
  palette:
  #   scheme: plotille
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.sections

extra_javascript:
  - brython.js
  - brython_stdlib.js
  - javascripts/codemirror-setup.js
  - javascripts/brython-setup.js

# extra_css:
#   - stylesheets/terminal.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            separate_signature: true

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed

nav:
  - Home: index.md
  - Cookbook:
      - Basic Plots: cookbook/basic.md
      - Advanced Examples: cookbook/advanced.md
