[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}


[dev-packages]

"flake8-bugbear" = "*"
"flake8-commas" = "*"
"flake8-comprehensions" = "*"
"flake8-import-order" = "*"
"flake8-pep3101" = "*"
"flake8-polyfill" = "*"
"flake8-quotes" = "*"
numpy = "*"
"pep8-naming" = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-mccabe = "*"
python-coveralls = "*"
pytest-mock = "*"
mock = "*"
funcsigs = "*"
