[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
plotille = {path = ".", editable = true}



[dev-packages]

"flake8-import-order" = "*"
"pep8-naming" = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-flake8" = "*"
numpy = "*"
"python-coveralls" = "*"
ipython = "*"