[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
"e1839a8" = {path = ".", editable = true}


[dev-packages]

"flake8-import-order" = "*"
"numpy" = "*"
"pep8-naming" = "*"
"pytest" = "*"
"pytest-cov" = "*"
"pytest-flake8" = "*"
"pytest-mccabe" = "*"
"python-coveralls" = "*"
