name: Publish

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: pypi

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set Up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.1.12

      - name: Build
        run: poetry build -vvv -f sdist

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

      - name: Publish
        run: poetry publish -vvv -n -u tammoippen -p $PYPI_PASS
